@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card mb-3">
    <a href="/Productos/Productos">
  <img src="~/img/jewel-cover.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mis productos</h5>
    </a>
    <p class="card-text">Administra los productos que se encuentran en el inventario</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card-group mt-3">

<div class="card" style="width: 18rem;">
    <a href="/Clientes/Clientes">
  <img src="~/img/cliente.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Clientes</h5>
    </a>
    <p class="card-text">Modulo de administración de clientes</p>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
    <a href="/Venta/Venta">
  <img src="~/img/venta.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ventas</h5>
    <p class="card-text">Modulo de administración de Ventas</p>
    </a>
  </div>
</div>

<div class="card" style="width: 18rem;">
    <a href="/Bills/Bills">
  <img src="~/img/bill.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Facturas</h5>
    </a>
    <p class="card-text">Revisa el estado de las facturas generadas</p>
    
  </div>
</div>
</div>
